html, body {
    font-family: 'Baloo 2', cursive;
}

.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn-get-info {
    position: fixed;
    width: 100px;
    left: calc(50% - 50px);
}

.logo-flickr-r {
    color: #F6007F;
}

.logo-flickr {
    color: #0063DB
}

.logo-pixaby {
    color: #68A22A;
}

.footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    font-size: 1vw;
}

.ant-breadcrumb {
    min-width: 300px;
    width: 70%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
}

.design-info {
    color: #001529;
}

.header-item {
    font-size: 2rem;
}

.site-layout .site-layout-background {
    background: #fff;
}

.modal {
    font-size: 2em;
}


